<b>Who am I?</b>
<p>
  I'm just a guy who is tinkering with new code to better himself while meandering through life.
</p>
<p>
 A niche for languages and a background in IT security and forensics, I'm the guy that tries to solve every problem and attempts to see all sides of an issue.  I'm a proud second generation Norseman, and I'm in love with cyberpunk themes and future tech.
</p>
<b>A quick look at strengths</b>
<p>
  <ul>
    <li>Can speak Japanese and French like a child</li>
    <li>Have an expired CEH and Sec+ certification</li>
    <li>Able to Google Fu and StackOverflow with the best</li>
    <li>Can drone on about Space and Physics with some authority</li>
    <li>Married and loving every second of it</li>
  </ul>
</p>
<p>
  Thus concludes the obligatory sidebar.  Soon I'll have this theme fully built and designed for my tastes.  Soon&trade;
</p>
